<header>
    <mat-form-field>
      <input #searchInput type="search" matInput placeholder="Type repo name"/>
    </mat-form-field>
    <button mat-raised-button (click)="getRepos(searchInput.value)"><i class="material-icons">search</i></button>
</header>
<div class="content">
  <mat-card *ngFor="let repo of repolist">
      <mat-card-header>
          <img mat-card-avatar [src]="repo.owner.avatar_url" />
          <mat-card-title>
            {{repo.full_name}}<br />
            <a [href]="repo.html_url" target="_blank">{{repo.html_url}}</a>
          </mat-card-title>
          <mat-card-subtitle>{{repo.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button><i class="material-icons">star</i> {{repo.stargazers_count}}</button>
        <button mat-button><i class="material-icons">visibility</i> {{repo.watchers_count}}</button>
        <button mat-button><i class="material-icons">call_split</i> {{repo.forks}}</button>
        <button mat-button (click)="showIssues(repo.id)"><i class="material-icons">bug_report</i> {{repo.open_issues}}</button>
      </mat-card-actions>
  </mat-card>

</div>
  