<mat-dialog-content>
  <div class="content">
    <mat-card *ngFor="let issue of issues">
      <mat-card-header>
        <img mat-card-avatar [src]="issue.user.avatar_url" />
        <mat-card-title>
          {{issue.title}}<br />
          <a [href]="issue.html_url" target="_blank">{{issue.html_url}}</a>
        </mat-card-title>
        <mat-card-subtitle>by {{issue.user.login}} @ {{issue.created_at | date}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{issue.body}}
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>